<div class="row">
    <div class="three wide column">
        <div class="ui segment basic">
            <div class="ui header small"><i class="circular icon blue inverted">L</i>
                <div class="content"><a class="header">project overview</a></div>
            </div>
            <div class="ui middle aligned selection celled list">
                <div class="item"><i class="folder outline icon"></i>
                    <div class="content"><a class="header">business partner update</a>
                        <div class="description"></div>
                        <div class="ui middle aligned selection celled list"></div>
                    </div>
                </div>
                <div class="item"><i class="folder outline icon"></i>
                    <div class="content"><a class="header">business partner create</a>
                        <div class="description"></div>
                        <div class="ui middle aligned selection celled list"></div>
                    </div>
                </div>
                <div class="item"><i class="folder outline icon"></i>
                    <div class="content"><a class="header">sales order update</a>
                        <div class="description"></div>
                        <div class="ui middle aligned selection celled list">
                            <div class="item"><i class="file text outline icon"></i>
                                <div class="content"><a class="header">mock 5 title</a>
                                    <div class="description"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><i class="folder outline icon"></i>
                    <div class="content"><a class="header">sales order create</a>
                        <div class="description"></div>
                        <div class="ui middle aligned selection celled list">
                            <div class="item"><i class="file text outline icon"></i>
                                <div class="content"><a class="header">mock 4 title</a>
                                    <div class="description"></div>
                                </div>
                            </div>
                            <div class="item"><i class="file text outline icon"></i>
                                <div class="content"><a class="header">another mock title</a>
                                    <div class="description"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><i class="file text outline icon"></i>
                    <div class="content"><a class="header">mock 3 title</a>
                        <div class="description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column">
        <div class="ui segment basic">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
