<header></header>
<div class="ui top attached progress active">
    <div class="bar" style="width: 100%;"></div>
</div>
<div></div>
<div class="ui two column grid">
    <div class="row">
        <div class="three wide column">
            <div class="ui segment basic"></div>
        </div>
        <div class="thirteen wide column">
            <div class="ui segment basic"></div>
        </div>
    </div>
</div>
<!--<a [routerLink]="['MockDetail', {uid:1}]" >Mock Detail</a>-->
<div class="ui container">
    <router-outlet></router-outlet>
</div>
